@model CreateEvaluationViewModel

@{
    ViewData["Title"] = "Create";
}

<h3>New Evaluation</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Student</label>
                <select asp-for="SelectedStudentId" class="form-control" asp-items="Model.UsersSelectList">
                    <option>Select</option>
                </select>
                <span asp-validation-for="SelectedStudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Type</label>
                <select asp-for="SelectedEvaluationTypeId" class="form-control" asp-items="Model.EvaluationTypesSelectList">
                    <option>Select</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Technique</label>
                <select asp-for="SelectedTechniqueId" class="form-control" asp-items="Model.TechniqueSelectList">
                    <option>Select</option>
                </select>
                <span asp-validation-for="SelectedTechniqueId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
