@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>SalonGarden is an education system used to evaluate stylists across different metrics.</p>
</div>
